*, :after, :before {
    box-sizing: inherit;
}

body,
input {
  color: #727272;
}

.md-typeset table:not([class]) {
  width: 100%;
  border-collapse: collapse;
  box-shadow: none;
}

.md-typeset .md-typeset__table {
    width: 100%;
}

.md-typeset table:not([class]) td {
    border-top: none;
    padding: 0.7rem 0rem; 
}

.md-typeset table:not([class]) td {
    border-top: .1rem solid rgba(0, 0, 0, .07);
    vertical-align: top;
}

.md-typeset table:not([class]) th {
    padding: 0.5rem 1.6rem;
    background-color: rgba(0, 0, 0, .25);
    color: #fff;
    font-weight: 700;
}


.md-typeset table:not([class]) tr td {
  padding-left: 3px;
  border: none;
}

.md-typeset th, .md-typeset td {
  text-align:left;
  padding: 5px 10px;
  border-bottom:1px solid #e5e5e5;
}

.md-typeset tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.025);
}

.md-typeset td strong {
  font-weight: normal;
}

.md-typeset {
  font-size: 1.4em;
}

.md-nav__link[data-md-state=blur] {
	color: rgba(0, 0, 0, .24);
}

.md-typeset .codehilite code,
.md-typeset .codehilite pre,
.md-typeset .highlight code,
.md-typeset .highlight pre {
  overflow-x: auto;
}

.md-typeset code, .md-typeset pre {
  color:#333;
}

.md-typeset code, .md-typeset a code, .md-typeset p code, .md-typeset li code {
  padding: 3px;
  border: 1px solid #ddd;
  background: #fbfbfb;
  border-radius: 3px;
  box-shadow: none;
  white-space: nowrap;
}

.md-typeset .codehilitetable .codehilite, .md-typeset .codehilitetable .highlight, .md-typeset .codehilitetable .linenodiv {
    background: none;
}

.md-typeset .codehilitetable .code {
    background: none;
    border: 1px solid #f3f3f3;
}

.md-typeset .codehilitetable .linenos {
    background-color: rgba(0, 0, 0, .03);
    border: 1px solid #f3f3f3;
}

.md-typeset .codehilitetable tr {
    font-size: 1.5rem;
}

.md-typeset table:not([class]) {
	font-size: 0.95em;
}

.md-typeset ol li, .md-typeset ul li {
  margin-bottom: 0;
}

.grid {
  box-sizing: border-box;
}

.grid:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

img {
  max-width:100%;
}

img.ornament {
  float: right;
  margin-left: 60px;
  margin-bottom: 60px;
  box-shadow: 0px 0px 24px #cccccc;
}

.md-main__inner {
    padding-top: 0;
}

@media only screen and (min-width: 60em) {
  .md-nav {
      font-size: inherit;
      line-height: 1.3;
  }

  [data-md-color-primary] .md-nav--secondary {
      font-size: 1.3rem;
      border-left: 1px solid #f3f3f3;
  }

  .md-sidebar--secondary .md-sidebar__inner {
      border-right: none;
  }
  .md-search__form {
    width: 23rem;
    float: right;
    transition: width 0.25s cubic-bezier(0.1, 0.7, 0.1, 1);
    border-radius: 1px;
  }

  .md-search__input {
    border-radius: 1px;
    background-color: white;
    font-size: 1.6rem;
    border: 1px solid #f3f3f3;
  }

  [data-md-toggle=search]:checked~.md-header .md-search__input+.md-search__icon, [data-md-toggle=search]:checked~.md-header .md-search__input::placeholder {
      color: rgba(0, 0, 0, .54);
  }

  .md-search__input+.md-search__icon, .md-search__input::placeholder {
      color: rgba(0, 0, 0, .54);
  }
}

.md-tabs {
    height: 0;
}

.md-tabs__link {
    font-size: 1.3rem;
}

.md-tabs__item {
    height: 4.4rem;
}

[data-md-color-primary] .md-header {
  background-color: #ffffff;
}

.md-header[data-md-state] {
  box-shadow: none;
  border-bottom: 1px solid #f3f3f3;
  color: #333;
}

/*Repair social fonts from .md-typeset size changes*/
.md-footer-social__link:before {
    line-height: 2.2;
}