*, :after, :before {
    box-sizing: inherit;
}

body,
input {
  color: #727272;
  font-family: "Roboto", helvetica;
}

h1 {
  display: none;
}

h2, h3, h4, h5, strong, .md-typeset td strong, .md-typeset h4 {
    font-weight: 500;
    color: #444;
}

.spoiler.hidden {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  padding: 0;
}

.spoiler {
  opacity: 1;
  transition: opacity 0.2s;
  padding-bottom: 20px;
}

.spoiler-btn {
  width: 100%;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
}

.spoiler-btn p {
  display: inline-block;
  padding: 0px 10px;
  font-weight: 500;
  font-size: 1.28rem;
  font-family: "Roboto", helvetica
}

.spoiler-btn i {
  line-height: 25px;
  text-align: center;
  transition: transform 0.1s;
  display: inline-block;
}

.spoiler-btn.revealed i {
  transform: rotate(90deg);
}

.admonition-title {
  font-weight: 500;
  color: #333;
}

.md-header-nav__parent {
  color: rgba(0, 0, 0, .3);
  font-size: 1.6rem;
}

.md-typeset tr {
  border-bottom: 1px solid #eee;
  border-bottom: none;
}

.md-typeset table:not([class]) {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.md-typeset .md-typeset__table table {
  overflow: inherit;
}

.md-typeset table:not([class]) td {
    border-top: none;
    padding: 0.7rem 0.5rem; 
}

.md-typeset table:not([class]) td {
    border-top: .1rem solid rgba(0, 0, 0, .07);
    border-top: none;
    vertical-align: top;
}

.md-typeset table:not([class]) th {
    background-color: transparent;
    color: #333;
    font-weight: 500;
    font-size: 1.4rem;
    min-width: 30px;
}

.md-typeset .md-typeset__table {
    padding: 0.5rem 1.6rem;
}

.md-typeset .md-typeset__scrollwrap::-webkit-scrollbar {
  width: .4rem;
  height: .4rem
}

.md-typeset .md-typeset__scrollwrap::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .26)
}

.md-typeset .md-typeset__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #536dfe
}

.md-typeset table:not([class]) tr td {
  padding-left: 16px;
  padding-right: 16px;
  border-left: 1px solid #e5e5e5;
}

.md-typeset th, .md-typeset td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

.md-typeset tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.025);
}

.md-typeset tr td:first-child {
  white-space: nowrap;
}

.md-typeset {
  font-size: 1.4em;
}

label.md-nav__title {
    font-weight: 500;
}

.md-nav__link[data-md-state=blur] {
	color: rgba(0, 0, 0, .24);
}

.md-typeset .codehilite code,
.md-typeset .codehilite pre,
.md-typeset .highlight code,
.md-typeset .highlight pre {
  overflow-x: auto;
}

.md-typeset .codehilitetable {
  margin-bottom: 0;
}

.md-typeset > .codehilitetable.output pre {
  max-height: 110px;
}

.md-typeset .codehilite {
  background: transparent;
  border: 1px solid #eee;
  margin-top: 0;
}

.md-typeset > .codehilitetable.output {
  background: #f7f7f7;
  margin-top: -1px;

  /* Appear slightly indented */
  margin-left: 5px;
  margin-right: 5px;

  box-shadow: inset 0px 5px 18px -1px rgba(0,0,0,0.05);
  border-radius: 0;
  border: none;
}

.md-typeset > .codehilitetable.output button {
  display: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale
}

.md-typeset code, .md-typeset pre {
  color: #333;
  font-family: "Source Code Pro", monospace;
  font-size: 1.2rem;
}

.md-typeset code, .md-typeset a code, .md-typeset p code, .md-typeset li code {
  padding: 3px 6px;
  border: 1px solid #ddd;
  background: #fbfbfb;
  border-radius: 3px;
  box-shadow: none;
  white-space: nowrap;
  margin: 0;
}

.md-typeset .codehilitetable .codehilite, .md-typeset .codehilitetable .highlight, .md-typeset .codehilitetable .linenodiv {
    background: none;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item h3 {
  font-size: 2rem;
  letter-spacing: 0.04em;
  line-height: 1.5;
  padding: 0;
  padding-bottom: 12px;
  padding-top: 5px;
  margin: 0;
  color: #333;
}

.flex-container .flex-item {
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
  width: 0;
  position: relative;
}

.flex-container .flex-item .flex-translator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #efefef;
  background: white;
  padding: 10px;
  padding-bottom: 50px;
  margin: 10px;
  transition: box-shadow 1s cubic-bezier(0.1, 0.7, 0.1, 1);
}

.flex-translator img {
  flex-grow: 1;
}

.flex-translator:hover p, .flex-translator:hover h3 {
    color: #0094d6;
}

.flex-item .image-container {
  height: 170px;
}

.flex-item .flex-cutaway {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.flex-item .flex-cutaway p {
    margin: 10px 10px 0px 10px;
    height: 50px;
    color: #333;
    line-height: 50px;
}

.flex-container .flex-item .flex-cutaway {
  transition: transform 0.5s cubic-bezier(0.1, 0.7, 0.1, 1);
}

.flex-container .flex-item:hover .flex-cutaway {
  transform: translateY(-40px);
}

.flex-container .flex-item:hover .flex-translator {
  box-shadow: 0 -7px 17px 0 rgba(0,0,0,.05);
}

.flex-container .flex-item:hover .flex-cutaway {
  display: inherit;
}

.flex-container p {
  margin: 0;
  color: #999;
  letter-spacing: 0.03rem;
}

#home-links {
  text-align: center;
}

#home-links > div {
  display: inline-block;
}

#home-links > div > p {
  color: #efefef;
  display: inline-block;
  width: 15px;
  font-size: 20px;
}

#home-features:not([class]) {
  box-shadow: none;
}

#home-features th, #home-features td {
  border-bottom: none; 
  border-left: none 
}

#home-features tr {
  background: none;
}

#home-features img {
  padding-left: 10px;
}

#home-features td:first-child {
  width: 170px;
}

#home-features h3 {
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 5px;
}

img {
  max-width: 680px;
}

[data-md-color-primary] .md-typeset a.button {
  font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
  max-width: 400px;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  border-radius: 3px;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #eee;
  transition: background 1s cubic-bezier(0.1, 0.7, 0.1, 1);
}

.button:active {
  position: relative;
  top: 6px;
}

.red {
  box-shadow: 0px 6px #c0392b;
  background: #e74c3c;
}

.red:active {
  box-shadow: 0px 0px #c0392b;
  background: #c0392b;
}

.red:hover {
  background: #E55E50;
  position: relative;
}

.blue {
  background: #3498db;
  box-shadow: 0px 6px #2980b9;
}

.blue:active {
  background: #2980b9;
  box-shadow: 0px 0px #2980b9;
}

.blue:hover {
  background: #4BA4DE;
}

.green {
  box-shadow: 0px 6px #7CAA19;
  background: #A5D63C;
}

.green:active {
  box-shadow: 0px 0px #98C733;
  background: #B2E14D;
}

.green:hover {
  background: #D5F295;
  position: relative;
}


.md-typeset hr {
    border-bottom: .1rem solid rgba(0, 0, 0, 0.05);
}

.md-typeset .codehilitetable .code {
    background: none;
    border: 1px solid #f3f3f3;
}

.md-typeset .codehilitetable .linenos {
    background-color: rgba(0, 0, 0, .03);
    border: 1px solid #f3f3f3;
}

.md-typeset .codehilitetable tr {
    font-size: 1.5rem;
}

.md-typeset table:not([class]) {
	font-size: 0.95em;
}

.md-typeset ol li, .md-typeset ul li {
  margin-bottom: 0;
}

.custom-select select:hover {
  border-color: #ddd;
}

.custom-select select {
  padding: 10px;
  background: #fff;
  color: #828282;
  margin-left: 12px;
  font-size: 1.4rem;
  border-radius: 20px;
  border: 1px solid #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  transition: border 1s cubic-bezier(0.1, 0.7, 0.1, 1);
  outline: 0;
}

label.md-nav__link {
    display: none;
}

img.ornament:before, img.ornament:after {
  clear: both;
}

img.ornament {
  max-width: 350px;
  float: right;
  padding-left: 30px;
  margin-bottom: 60px;
  margin: 3.2rem 0 1.6rem;
}

img.ornament.shadow {
  box-shadow: 0px 0px 24px #cccccc;
}

.md-main__inner {
    padding-top: 0;
}

/*
.md-sidebar.md-sidebar--primary {
  box-shadow: -7px 0 26px 20px rgba(255, 255, 255,1.0);
}

.md-sidebar.md-sidebar--secondary {
  box-shadow: 7px 0 26px 20px rgba(255, 255, 255,1.0);
}
*/

@media only screen and (max-width: 60em) {
  .desktop {
    display: none;
  }

  img {
    max-width: 100%;
  }

}

@media only screen and (min-width: 60em) {
  .mobile {
    display: none;
  }

  .md-nav {
      font-size: inherit;
      line-height: 1.3;
  }

  [data-md-color-primary] .md-nav--secondary {
      font-size: 1.3rem;
      border-left: 1px solid #f3f3f3;
  }

  .md-sidebar--secondary .md-sidebar__inner {
      border-right: none;
  }
  .md-search__form {
    width: 23rem;
    float: right;
    border-radius: 1px;
  }

  .md-search__input {
    border-radius: 1px;
    background-color: white;
    font-size: 1.6rem;
    border: 1px solid #f3f3f3;
  }

  [data-md-toggle=search]:checked~.md-header .md-search__input+.md-search__icon, [data-md-toggle=search]:checked~.md-header .md-search__input::placeholder {
      color: rgba(0, 0, 0, .54);
  }

  .md-search__input+.md-search__icon, .md-search__input::placeholder {
      color: rgba(0, 0, 0, .54);
  }
}

.md-tabs {
    height: 0;
}

.md-tabs__link {
    font-size: 1.3rem;
}

.md-tabs__item {
    height: 4.4rem;
}

[data-md-color-primary] .md-header {
  background-color: #ffffff;
}

.md-header[data-md-state] {
  box-shadow: none;
  border-bottom: 1px solid #f3f3f3;
  color: #333;
}

/*Repair social fonts from .md-typeset size changes*/
.md-footer-social__link:before {
    line-height: 2.2;
}

div.tabs {
}

div.tabs button {
  background: white;
  outline: none;
  cursor: pointer;
  position: relative;
  color: #b9b9b9;
  border: 1px solid #efefef;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 6px 8px;
  transition: 0.2s;
  font-size: 1.3rem;
}

div.tabs button.active {
  color: #222;
  position: relative;
}

.tab-content {
  background: white;
  display: none;
  padding: 0;
  border: none;
}

.md-typeset .tab-content .codehilitetable .linenos {
  display: none;
}

.md-typeset .tab-content .codehilitetable {
  margin: 0;
}

button.tab p {
  padding: 0;
  margin: 0;
  letter-spacing: 0.1rem;
}

button.tab div.tab-gap {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -2px;
  margin: 0;
  padding: 0;
  background: #ffffff;
  z-index: 5;
  left: 0;
  display: none;
}

button.tab.active div.tab-gap {
  display: block;
}

div.tabs button.active p {
  text-shadow: none;
}